.md-tabs {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
      box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
      border: 0;
      padding: 5px;
      margin-bottom: -20px;
      background-color: #2bbbad;
      z-index: 1;
      position: relative;
  }
  
  .md-tabs .nav-link {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 0;
    color: #fff;
  }
  
  .md-tabs .nav-item.open .nav-link, .md-tabs .nav-link.active {
    background-color: rgba(0,0,0,.2) !important;
    color: #fff !important;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  
  .navitem-fix {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    height: 30px;
  }
  
  .nav-link {
    display: block;
    padding: 5px 10px;
  }
  
  .btngroup-w {
    width: 100%;
    color: black !important;
  }
  
  .seperator {
    margin: 0px;
    border-top: 1px solid #d4cece;
  }