.notification-container {
    left: 0;
    top: 0;
    margin: 0;
    font-weight: bold;
    visibility: hidden;
    z-index: 8;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}
.notification-message {
    position: relative;
    display: inline-block;
    visibility: visible;
    font-size: 80%;
    padding: 6px 10px;
    background-color: #f9edbe;
    border: 1px solid #f0c36d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.notification-holder {
    float: left;
    width: 100%;
    padding: 10px;
    height: 100px;
    overflow: auto;
  }

  .notification-img-holder {
    float: left;
    width: 30%;
    color: red;
  }

  .notification-label-holder {
    float: left;
    width: 60%;
    font-size: 12px;
    text-align: left;
    margin-bottom: 14px;
    color: black;
  }

  .pop-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2196078431372549);
    color: black;
  }

  .pop-context {
    position: absolute;
    top: 40%;
    left: 35%;
    background: white;
    width: 30%;
    padding: 10px;
  }

  .pop-box {
    float: left;
    text-align: center;
    margin: 10px;
  }

  .txt-one {
    float: left;
    width: 100%;
    font-weight: 600;
    text-align: center;
  }

  .txt-two {
    float: left;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 13px;
  }

  .btn-holder-alert {
    float: left;
    text-align: center;
    width: 100%;
    margin: 10px;
  }