.loader-holder {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* margin: 50px auto 0 auto; */
    padding: 32px;
    /* width: 40px; */
    background-color: rgba(14, 14, 14, 0.3686274509803922);
}

.loader-lines {
    position: absolute;
    left: 50%;
    top: 50%;
}

.loader-text {
  
}

.loader-text-lines {
  position: absolute;
    left: 43%;
    top: 57%;
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px rgba(56, 56, 56, 0.6392156862);
}

.line01 {
    width: 9px;
    -webkit-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    -ms-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
  }
  .line02 {
    width: 8px;
    -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
    -ms-transform: translate(0, 0) rotate(0) scale(1, 1);
    transform: translate(0, 0) rotate(0) scale(1, 1);
  }
  .line03 {
    width: 9px;
    -webkit-transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
    -ms-transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
    transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
  }

  .line01, .line02, .line03 {
    position: absolute;
    border-radius: 25px;
    height: 1.2px;
    background-color: white;
  }

  .line01 {
    -webkit-animation: buttonFailureSlide01 1.5s linear infinite;
    animation: buttonFailureSlide01 1.5s linear infinite;
  }
  .line02 {
    -webkit-animation: buttonFailureSlide02 1.5s linear infinite;
    animation: buttonFailureSlide02 1.5s linear infinite;
  }
  .line03 {
    -webkit-animation: buttonFailureSlide03 1.5s linear infinite;
    animation: buttonFailureSlide03 1.5s linear infinite;
  }
  
  @-webkit-keyframes buttonFailureSlide01 {
    /*orig(waitTime)>7(8.5)>line(17)>hide(25.5)>wait(33.5)>line(42.5)>nose(51)>orig(60)(waitTime) = 8.5%*/
    0% {
      /*=orig*/
      -webkit-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    }
    8.5% {
      /*=minify down*/
      -webkit-transform: translate(-3px, 0px) rotate(-60deg) scale(0, 1);
      transform: translate(-3px, 0px) rotate(-60deg) scale(0, 1);
    }
    9% {
      /*opacity zero*/
      -webkit-transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
      transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
    }
    17% {
      /*=opacity zero*/
      -webkit-transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
      transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
    }
    25.5% {
      /*=opacity zero*/
      -webkit-transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
      transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
    }
    33.5% {
      /*=opacity zero*/
      -webkit-transform: translate(8px, -19.5px) rotate(-60deg) scale(0, 0);
      transform: translate(8px, -19.5px) rotate(-60deg) scale(0, 0);
    }
    34% {
      /*reappear*/
      -webkit-transform: translate(8px, -19.5px) rotate(-60deg) scale(0.1, 1);
      transform: translate(8px, -19.5px) rotate(-60deg) scale(0.1, 1);
    }
    38.2% {
      /*elongate*/
      -webkit-transform: translate(2px, -9.5px) rotate(-60deg) scale(2.6, 1);
      transform: translate(2px, -9.5px) rotate(-60deg) scale(2.6, 1);
    }
    42.5% {
      /*=elongate*/
      -webkit-transform: translate(2px, -9.5px) rotate(-60deg) scale(2.6, 1);
      transform: translate(2px, -9.5px) rotate(-60deg) scale(2.6, 1);
    }
    51% {
      /*=orig*/
      -webkit-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    }
    60% {
      /*=orig (waiting time |->)*/
      -webkit-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    }
    100% {
      /*=orig (waiting time ->|)*/
      -webkit-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    }
  }
  
  @keyframes buttonFailureSlide01 {
    /*orig(waitTime)>7(8.5)>line(17)>hide(25.5)>wait(33.5)>line(42.5)>nose(51)>orig(60)(waitTime) = 8.5%*/
    0% {
      /*=orig*/
      -webkit-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    }
    8.5% {
      /*=minify down*/
      -webkit-transform: translate(-3px, 0px) rotate(-60deg) scale(0, 1);
      transform: translate(-3px, 0px) rotate(-60deg) scale(0, 1);
    }
    9% {
      /*opacity zero*/
      -webkit-transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
      transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
    }
    17% {
      /*=opacity zero*/
      -webkit-transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
      transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
    }
    25.5% {
      /*=opacity zero*/
      -webkit-transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
      transform: translate(-3px, 0px) rotate(-60deg) scale(0, 0);
    }
    33.5% {
      /*=opacity zero*/
      -webkit-transform: translate(8px, -19.5px) rotate(-60deg) scale(0, 0);
      transform: translate(8px, -19.5px) rotate(-60deg) scale(0, 0);
    }
    34% {
      /*reappear*/
      -webkit-transform: translate(8px, -19.5px) rotate(-60deg) scale(0.1, 1);
      transform: translate(8px, -19.5px) rotate(-60deg) scale(0.1, 1);
    }
    38.2% {
      /*elongate*/
      -webkit-transform: translate(2px, -9.5px) rotate(-60deg) scale(2.6, 1);
      transform: translate(2px, -9.5px) rotate(-60deg) scale(2.6, 1);
    }
    42.5% {
      /*=elongate*/
      -webkit-transform: translate(2px, -9.5px) rotate(-60deg) scale(2.6, 1);
      transform: translate(2px, -9.5px) rotate(-60deg) scale(2.6, 1);
    }
    51% {
      /*=orig*/
      -webkit-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    }
    60% {
      /*=orig (waiting time |->)*/
      -webkit-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    }
    100% {
      /*=orig (waiting time ->|)*/
      -webkit-transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(-1px, -3.5px) rotate(-60deg) scale(1, 1);
    }
  }
  @-webkit-keyframes buttonFailureSlide02 {
    0% {
      /*=orig*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    8.5% {
      /*=orig*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    17% {
      /*=minify into side*/
      -webkit-transform: translate(3px, 0) rotate(0) scale(0, 1);
      transform: translate(3px, 0) rotate(0) scale(0, 1);
    }
    17.5% {
      /*opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(0) scale(0, 0);
      transform: translate(3px, 0) rotate(0) scale(0, 0);
    }
    25.5% {
      /*=opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(0) scale(0, 0);
      transform: translate(3px, 0) rotate(0) scale(0, 0);
    }
    33.5% {
      /*=opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(0) scale(0, 0);
      transform: translate(3px, 0) rotate(0) scale(0, 0);
    }
    38% {
      /*opacity zero*/
      -webkit-transform: translate(-3px, 0) rotate(0) scale(0, 0);
      transform: translate(-3px, 0) rotate(0) scale(0, 0);
    }
    38.2% {
      /*reappear*/
      -webkit-transform: translate(-3px, 0) rotate(0) scale(0.1, 1);
      transform: translate(-3px, 0) rotate(0) scale(0.1, 1);
    }
    42.5% {
      /*=orig*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    51% {
      /*=orig*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    60% {
      /*=orig (waiting time |->)*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    100% {
      /*=orig (waiting time ->|)*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
  }
  @keyframes buttonFailureSlide02 {
    0% {
      /*=orig*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    8.5% {
      /*=orig*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    17% {
      /*=minify into side*/
      -webkit-transform: translate(3px, 0) rotate(0) scale(0, 1);
      transform: translate(3px, 0) rotate(0) scale(0, 1);
    }
    17.5% {
      /*opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(0) scale(0, 0);
      transform: translate(3px, 0) rotate(0) scale(0, 0);
    }
    25.5% {
      /*=opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(0) scale(0, 0);
      transform: translate(3px, 0) rotate(0) scale(0, 0);
    }
    33.5% {
      /*=opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(0) scale(0, 0);
      transform: translate(3px, 0) rotate(0) scale(0, 0);
    }
    38% {
      /*opacity zero*/
      -webkit-transform: translate(-3px, 0) rotate(0) scale(0, 0);
      transform: translate(-3px, 0) rotate(0) scale(0, 0);
    }
    38.2% {
      /*reappear*/
      -webkit-transform: translate(-3px, 0) rotate(0) scale(0.1, 1);
      transform: translate(-3px, 0) rotate(0) scale(0.1, 1);
    }
    42.5% {
      /*=orig*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    51% {
      /*=orig*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    60% {
      /*=orig (waiting time |->)*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
    100% {
      /*=orig (waiting time ->|)*/
      -webkit-transform: translate(0, 0) rotate(0) scale(1, 1);
      transform: translate(0, 0) rotate(0) scale(1, 1);
    }
  }
  @-webkit-keyframes buttonFailureSlide03 {
    0% {
      /*=orig*/
      -webkit-transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
    }
    8.5% {
      /*=elongate down*/
      -webkit-transform: translate(-0.5px, 7px) rotate(-60deg) scale(2, 1);
      transform: translate(-0.5px, 7px) rotate(-60deg) scale(2, 1);
    }
    17% {
      /*=biggest elongation*/
      -webkit-transform: translate(-2px, 9.5px) rotate(-60deg) scale(2.6, 1);
      transform: translate(-2px, 9.5px) rotate(-60deg) scale(2.6, 1);
    }
    25.5% {
      /*=minify down*/
      -webkit-transform: translate(-7.5px, 19px) rotate(-60deg) scale(0.1, 1);
      transform: translate(-7.5px, 19px) rotate(-60deg) scale(0.1, 1);
    }
    26% {
      /*opacity zero*/
      -webkit-transform: translate(-7.5px, 19px) rotate(-60deg) scale(0, 0);
      transform: translate(-7.5px, 19px) rotate(-60deg) scale(0, 0);
    }
    33.5% {
      /*=opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
      transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
    }
    42.5% {
      /*=opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
      transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
    }
    50.5% {
      /*opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
      transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
    }
    51% {
      /*=reappear*/
      -webkit-transform: translate(3px, 0) rotate(-60deg) scale(0.1, 1);
      transform: translate(3px, 0) rotate(-60deg) scale(0.1, 1);
    }
    60% {
      /*=orig (waiting time |->)*/
      -webkit-transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
    }
    100% {
      /*=orig (waiting time ->|)*/
      -webkit-transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
    }
  }
  @keyframes buttonFailureSlide03 {
    0% {
      /*=orig*/
      -webkit-transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
    }
    8.5% {
      /*=elongate down*/
      -webkit-transform: translate(-0.5px, 7px) rotate(-60deg) scale(2, 1);
      transform: translate(-0.5px, 7px) rotate(-60deg) scale(2, 1);
    }
    17% {
      /*=biggest elongation*/
      -webkit-transform: translate(-2px, 9.5px) rotate(-60deg) scale(2.6, 1);
      transform: translate(-2px, 9.5px) rotate(-60deg) scale(2.6, 1);
    }
    25.5% {
      /*=minify down*/
      -webkit-transform: translate(-7.5px, 19px) rotate(-60deg) scale(0.1, 1);
      transform: translate(-7.5px, 19px) rotate(-60deg) scale(0.1, 1);
    }
    26% {
      /*opacity zero*/
      -webkit-transform: translate(-7.5px, 19px) rotate(-60deg) scale(0, 0);
      transform: translate(-7.5px, 19px) rotate(-60deg) scale(0, 0);
    }
    33.5% {
      /*=opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
      transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
    }
    42.5% {
      /*=opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
      transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
    }
    50.5% {
      /*opacity zero*/
      -webkit-transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
      transform: translate(3px, 0) rotate(-60deg) scale(0, 0);
    }
    51% {
      /*=reappear*/
      -webkit-transform: translate(3px, 0) rotate(-60deg) scale(0.1, 1);
      transform: translate(3px, 0) rotate(-60deg) scale(0.1, 1);
    }
    60% {
      /*=orig (waiting time |->)*/
      -webkit-transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
    }
    100% {
      /*=orig (waiting time ->|)*/
      -webkit-transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
      transform: translate(1.5px, 3.5px) rotate(-60deg) scale(1, 1);
    }
  }