.texteditor{
  font-family: Arial, sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.texteditor-h1 {
  margin: 1em 0;
  text-align: center;
}

.texteditor-container {
  margin: 0 auto;
  width: 50%;  /* Ancho del contenedor */
}

.texteditor-container-input {
  height: 2.5em;
  visibility: hidden;
}

.texteditor-container-label {
  background: #f9f9f9;  /* Fondo de las pestañas */
  border-radius: .25em .25em 0 0;
  color: #888;  /* Color del texto de las pestañas */
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1em;  /* Tamaño del texto de las pestañas */
  height: 2.5em;
  line-height: 2.5em;
  margin-right: .25em;
  padding: 0 1.5em;
  text-align: center;
}

.texteditor-container-input-label:hover {
  background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
  color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}


.texteditor-container-input-label:checked  {
  background: #f1f1f1;  /* Fondo de las pestañas al presionar */
  color: #444; /* Color de las pestañas al presionar */
  position: relative;
  z-index: 6;
}

.texteditor-content {
  background: #f1f1f1;  /* Fondo del contenido */
  border-radius: 0 .25em .25em .25em;
  min-height: 20em;  /* Alto del contenido */
  position: relative;
  width: 100%;
  z-index: 5;
}

.texteditor-content-div {
  opacity: 0;
  padding: 1.5em;
  position: absolute;
  z-index: -100;
  /*
  transition: all linear 0.1s;
  */
}

.texteditor-content-1-p {
  clear: both;
  margin-bottom: 1em;
}
.texteditor-content-1-p-left-img {
  float: left;
  margin-right: 1em;
}
.texteditor-content-1-p-last {
  margin-bottom: 0;
}
.texteditor-content-2-p {
  float: left;
  clear: both;
}
.texteditor-content-2-p-column-right {
  margin-left: 3%;
}
.texteditor-content-2-p-img {
  display: block;
  margin: 0 auto 1em auto;
}
.texteditor-content-3-p,
.texteditor-content-3-ul {
  float: left;
  margin-bottom: 1em;
}
.texteditor-content-3-ul{
  margin-left: 2em;
}

.texteditor-input-visible {
  visibility: visible !important;
}

.exteditor-input-p-i {
  margin-right: 5px;
  cursor: pointer;
}

.content{
  margin-bottom: 2px !important;
  margin-top: 2px !important; 
}