.form__class {
    background: white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
      border: 1px solid rgb(181, 181, 181);
      width: 100%;
      margin: 0;
      /* height: 45px; */
  }

  .formplacement {
    text-align: center;
  }

  .brdr {
    border-right: 1px solid #d6dbea;
  }
  
  .pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
  }
  
  .task_info_pop {
    position: absolute;
    bottom: 50px;
    background: white;
    width: 25%;
  }
  
  .tasktitle {
    padding: 10px 50px;
    background: #4285f4;
    color: white;
    text-transform: uppercase;
    width: 100%;
    float: left;
  }
  
  .pagination-page-links {
    -webkit-border-radius: 50% !important;
     border-radius: 50%;
     margin-left: 10px;
     margin-right: 2px;
     border-radius: 50% !important;
     -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
     box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
     -webkit-transition: all .2s linear;
     -o-transition: all .2s linear;
     transition: all .2s linear;
     color: #fff !important;
     height: 30px;
     width: 30px;
     padding: 2px;       
 }
 
 .tinfo {
    float: left;
    padding: 2px 2px 2px 10px;
    font-weight: 700;
  }

  .md-form {
    margin-top: -1px !important;
    margin-bottom: 0 !important;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    height: 38px;
    line-height: 2.9rem;
    width: 93%;
    font-size: 10px;
    text-transform: uppercase;
    /* margin: 0 0 .94rem 0; */
    padding: 0;
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.form-fix {
    width: 100%;
    border-bottom: 1px solid darkgrey;
    border-radius: 0;
  }

  .mdb-select {
    background: none;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      font-size: 12px;
      color: #4a4a4a;
      /* padding: 7px; */
      height: 43px;
  }
  
  .lblfix {
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    margin-left: 5px;
  } 
  
  .long-text {
    direction: rtl;
    width : 188px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .form-list {
    float: left;
    width: 100%;
    padding: 0;
    font-size: 12px;
  }

  .form-stnpad {
    padding: 10px;
  }

  a.copy-links {
    color: #009688;
    display: block;
  }

  .goto-class {
    width: 18%;
    height: 18px;
    text-align: center;
  }

  .popup-segment {
    display: none;
    position: absolute;
    left: 15px;
    bottom: 50px;
    width: 21%;
    height: 300px;
    background: white;    
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .img-class {
    max-width: 100%;
    max-height: 100%;
  }

  .img-spx {
    padding: 0;
    border: 2px solid white;
  }

  .seg-header {
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
    border-bottom: 1px solid #dbdfec;
  }

  .legend-box {
    width: 10px;
    height: 10px;
    float: left;
    margin: 4px;
  }

  .legend-box-red {
    background: red;
  }

  .legend-box-green {
    background: green;
  }

  .legend-box-blue {
    background: blue;
  }

  .legend-name {
    font-size: 12px;
    float: left;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .image-segment-icon {
   cursor: pointer;
 }

 .segment-identifier {
  height: 200px;
  width: 100%;
  float: left;
 }

 .mselect-opener {
  display: table;
  margin: 0 auto;
  background: #FFF;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 44px;
  font-weight: 700;
  cursor: pointer;
 }

 .mselect-base-opener {
  position: absolute;
  bottom: 34px;
  width: 60%;
  right: 228px;
 }

 .md-checkbox {
  position: relative;
  margin: 5px;
  text-align: left;
  float: left;
  width: 40%;
}
.md-checkbox.md-checkbox-inline {
  display: inline-block;
}
.md-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
.md-checkbox label:not(:empty) {
  padding-left: 0.75em;
  font-size: 13px;
  font-weight: 600;
}
.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.md-checkbox label:before {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background .3s;
}
.md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #337ab7;
  border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.md-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

.glow {
  -webkit-animation: glow .6s infinite alternate;
}

@-webkit-keyframes glow {
  to {
      text-shadow: 0 0 10px rgb(165, 156, 250);
  }
}
