
body {
  background: linear-gradient(white, #D3D8E8);
}


.draw-canvas {
  overflow: hidden; 
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 1px solid #b5b5b5
}


.md-tabs {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border: 0;
    padding: 5px;
    margin-bottom: -20px;
    background-color: #2bbbad;
    z-index: 1;
    position: relative;
}

.md-tabs .nav-link {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  border: 0;
  color: #fff;
}

.md-tabs .nav-item.open .nav-link, .md-tabs .nav-link.active {
  background-color: rgba(0,0,0,.2) !important;
  color: #fff !important;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.navitem-fix {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
}

.btngroup-w {
  width: 100%;
  color: black !important;
}

.seperator {
  margin: 0px;
  border-top: 1px solid #d4cece;
}

h5.mdfix {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border-bottom: 1px solid #d4cece;
  background: #eeeeee;
  margin-bottom: 0;
}

.mdbadge-fix {
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
}

.range-field input[type=range] {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  outline: 0;
  width: 100%;
  margin: 15px 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #fff;
}

.form__class {
  background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    border: 1px solid rgb(181, 181, 181);
    height: 45px;
}

.formplacement {
  text-align: center;
}

.brdr {
  border-right: 1px solid #d6dbea;
}

.flabel {
  font-size: 14px;
  font-weight: 600;
}

.tinfo {
  float: left;
  padding: 2px 2px 2px 10px;
  font-weight: 700;
}

.btn-sm-p {
  padding: 5px !important;
}
.txt {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500
}

.md-form {
    margin-top: -1px !important;
    margin-bottom: 0 !important;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    height: 38px;
    line-height: 2.9rem;
    width: 93%;
    font-size: 10px;
    text-transform: uppercase;
    /* margin: 0 0 .94rem 0; */
    padding: 0;
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.lblfix {
  font-size: 12px;
  line-height: 30px;
  font-weight: 600;
  margin-left: 5px;
}

.pagination-page-links {
   -webkit-border-radius: 50% !important;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 2px;
    border-radius: 50% !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    color: #fff !important;
    height: 30px;
    width: 30px;
    padding: 3px;       
}

.btn-f {
  width: 100%;
  margin: 0 !important;
}

.mt-n {
  margin-top: -1px;
}

.task_info_pop {
  position: absolute;
  bottom: 50px;
  left: 10px;
}

.tasktitle {
  padding: 10px 50px;
  background: #4285f4;
  color: white;
  text-transform: uppercase;
}
