body {
  background: linear-gradient(white, #D3D8E8);
}


.draw-canvas {
  overflow: hidden; 
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 1px solid #b5b5b5;
  width: 100%;
  height: 100%;
}


h5.mdfix {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border-bottom: 1px solid #d4cece;
  background: #eeeeee;
  margin-bottom: 0;
}

.mdbadge-fix {
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
}

.range-field input[type=range] {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  outline: 0;
  width: 100%;
  margin: 15px 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #fff;
}

.flabel {
  font-size: 14px;
  font-weight: 600;
}

.mt-n {
  margin-top: -1px;
}

.controls-fix {
  background: white;
  padding-bottom: 1px;
}

.calculated-fix {
  height: calc(100vh - 50px);
}

.no-pad {
  padding: 0;
}

.no-left-pad {
  padding-left: 0; 
}

.annotation-coll-class {
  margin: 5px;
}

.anno-id-class {
  height: 100%;
  position: absolute;
  top: 0;
}