.player-container {
  padding-top: 25px;

}

.progress-bar-container{
  height: 60px;
  padding: 10px;
  /* background-color: #3325a3; */
  background-color: #9b9797;
  cursor: pointer;
}

progress {
  width: 100%;
  z-index: 1;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: red;
  height: 10px;
  z-index: 1;
}
 
.tooltip {
  text-decoration:none;
  position:relative;
}

/* progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid lighten(#acacac, 20%);
  color: red;
} */

progress::-webkit-progress-value {
  background-color: red;
}

.volume-control{
  /* margin:auto;
  width:70%; */
}
 
.rngVolume{
  margin-top: 5px;
  margin-left: 5px;
  vertical-align:top;
  -webkit-appearance: none;  /* Override default CSS styles */
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
  background: burlywood;/* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  height: 5px;
  width: 75px;
}

.playback-range{
  margin-top: 5px;
  margin-left: 5px;
  vertical-align:top;
  -webkit-appearance: none;  /* Override default CSS styles */
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
  background: greenyellow;/* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  height: 10px;
  width: 100px;
}

.playback-range-container {
  /* width: 200px; */
}
